.react-calendar {
  border-radius: 8px;
}

.react-calendar__navigation {
  padding: 16px;
}

.react-calendar__viewContainer {
  padding: 16px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
}
